<h1>Welcome to Your Allergies!</h1>
<form action="/allergies">
  <div class="form-group">
    <label for="score">Enter your allergy score:</label>
    <input type="number" name="score" id="score" class="form-control">
  </div>
  <button type="submit" class="btn btn-danger">Send</button>
</form>
